bin-image-uploader {
  .image-preview, .image-controls {
    display: inline-block;
    vertical-align: top;
  }

  .image-preview {
    min-width: 120px;
    margin: 0 15px 15px 0;

    [bin-image] {
      height: 120px;
      cursor: pointer;

      &.not-found {
        width: 120px;
        padding: 30%;
      }
    }
  }

  .image-controls {
    .help-block {
      max-width: 500px;
    }
  }
}