[bin-image] {
  transition: all 0.3s ease-out;
  outline: rgba(91, 183, 91, 0) solid 2px;
  opacity: 1;
}
[bin-image].working {
  opacity: 0 !important;
}
[bin-image].not-found {
  display: none;
}
[editmode="true"] [bin-image].not-found {
  display: inherit;
  width: 100%;
  background: darkgray;
  border: 4px dashed lightgray;
}
[editmode="true"] [bin-image]:hover,
[editmode="true"] [bin-image].uploading {
  outline: #5bb75b solid 2px;
  cursor: pointer;
  opacity: 0.7;
}