[bin-image],
[bin-background-image] {
  height: inherit;
  outline: rgba(91, 183, 91, 0) solid 2px;
  opacity: 1;
  transition: opacity 0.3s ease-out, outline 0.3s ease-out;
}
[bin-image], {
  &.working,
  &.not-found {
    height: 0;
  }
  &.working {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}
[editmode="true"] {
  [bin-image].not-found {
    height: inherit;
    width: 100%;
    background: lightgray;
    border: 4px dashed darkgray;
    color: darkgray;
  }
  [bin-image]:hover,
  [bin-image].uploading,
  [bin-background-image]:hover,
  [bin-background-image].uploading {
    outline: #5bb75b solid 2px;
    cursor: pointer;
    opacity: 0.7;
  }
}